.vagas-container {
  padding: 50px;

  .foto-vagas {
    width: 100%;
  }

  &--titulo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 1.7rem;
  }

  &--oportunidades {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    
    .titulo-oportunidades {
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
}
