.time-container {
    margin-top: 3rem;
    background-color: #f5f5f5;
    padding: 50px;

    &--CEO {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .CEO-video{
           margin-right: 3rem;
           img{
            height: 20rem;
           }
        }
        .CEO-descrição{
            .tituloCEO {
                text-transform: uppercase;
                font-weight: 700;
            }
            .nomeCEO{
                color: $amarelo;
                font-style: italic;
            }
            .textoCEO{
                font-size: 1.4rem;
                padding-top: 3rem;
                text-align: justify;
            }
        }
    }

    &--contribuidores{
        text-align: center;
        margin-top: 3rem;

        .contribuidores-titulo{
            text-transform: uppercase;
            font-size: 1.7rem;
            display:flex;
            flex-direction: column;
            line-height: normal;
            
        }
        .contribuidores-fotos{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 3rem;
            .foto{
                padding: 4px;
                height: 183px;
            }
        }
    }



}