.benefícios-container {
  margin-top: 40px;
  
  &--lista {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 0px 20px;

    .sessão {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      text-align: justify;
      padding: 0 25px;
      font-size: 1.4rem;

      .ben-imagem {
        height: 125px;
      }

      &-titulo {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 20px 0px 20px 0px;
      }
    }
  }

  &--btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .saiba-mais-link {
      padding-top: 10px;
    }
  }
}
