@import '../../components/Header/Header.scss';
@import '../../components/Time/Time.scss';
@import '../../components/Benefícios/Benefícios.scss';
@import '../../components/Vagas/Vagas.scss';
@import '../../components/Vaga/Vaga.scss';
@import '../../scss/mobile';